<?xml version="1.0" encoding="UTF-8"?>

<persistence
        xmlns="https://jakarta.ee/xml/ns/persistence"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
            https://jakarta.ee/xml/ns/persistence
            https://jakarta.ee/xml/ns/persistence/persistence_3_1.xsd"
        version="3.1">

    <persistence-unit
            name="ovchip"
            transaction-type="RESOURCE_LOCAL">

        <provider>
            org.hibernate.jpa.HibernatePersistenceProvider
        </provider>

        <class>main.java.POJO.Reiziger</class>
        <class>main.java.POJO.Adres</class>
        <class>main.java.POJO.OVChipkaart</class>
        <class>main.java.POJO.Product</class>

        <properties>

            <property
                    name="jakarta.persistence.jdbc.driver"
                    value="org.postgresql.Driver"/>

            <property
                    name="jakarta.persistence.jdbc.url"
                    value="jdbc:postgresql://localhost:5434/ovchip"/>

            <property
                    name="jakarta.persistence.jdbc.user"
                    value="postgres"/>

            <property
                    name="jakarta.persistence.jdbc.password"
                    value="0000"/>

            <property
                    name="hibernate.show_sql"
                    value="true"/>

            <property
                    name="hibernate.format_sql"
                    value="true"/>

            <property
                    name="hibernate.hbm2ddl.auto"
                    value="none"/>

        </properties>

    </persistence-unit>

</persistence>